@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: 'Inter', 'Inter Fallback';
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop {
    border-color: var(--color-gray-200, currentColor);
  }
}
