@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: 'Inter', 'Inter Fallback';
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop {
    border-color: var(--color-gray-200, currentColor);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition-duration: 0s !important;
    animation-duration: 0s !important;
    transition-delay: 0s !important;
    animation-delay: 0s !important;
  }
}
