# node
node_modules

# logs
*.log

# remix
/build
/public/build

# firebase
.firebaserc

# docker
/docker/firebase/.cache/firebase

# tests
test-results

# typescript
tsconfig.tsbuildinfo

# vite
vite.config.ts.timestamp*.mjs