# Config
.env

# node
node_modules

# logs
*.log

# react router
.react-router
/build
/public/build

# firebase
.firebaserc

# docker
/docker/firebase/.cache/firebase

# typescript
*.tsbuildinfo

# prisma
/prisma/generated

# vite
vite.config.ts.timestamp*.mjs

# playwright
e2e/setup/.auth
e2e/results

# other
.DS_Store

# ai
.claude
CLAUDE.md
