# node
node_modules

# logs
*.log

# remix
/build
/public/build

# prisma
/prisma/factories

# firebase
.firebaserc

# docker
/docker/firebase/.cache/firebase

# tests
test-results

# ignore ts files
*.ignore.ts

# vite
vite.config.ts.timestamp*.mjs