name: CI
on:
  pull_request:
  push:
    branches:
      - main
      - production

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'main') && !contains(github.ref, 'production') }}

jobs:
  static-tests:
    name: Static tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Format
        run: npm run format:check

      - name: Lint
        run: npm run lint

      - name: Typescript checking
        run: npm run tsc

      - name: Knip checking
        run: npm run knip

      - name: Check i18n key orphans
        run: ./tests/tools/check-i18n-key-orphans.sh app/locales app

      - name: Check i18n key consistency
        run: ./tests/tools/check-i18n-key-consistency.sh app/locales

  integration-tests:
    name: Integration tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Setup Playwright
        uses: ./.github/actions/setup-playwright

      - name: Start database and firebase emulators
        run: docker compose -f compose.yml -f ./docker/compose-ci.yml up -d

      - name: Wait for database start...
        run: ./docker/wait-for-db.sh

      - name: Execute tests
        run: npm test

      - name: Stop database and firebase emulators
        if: always()
        run: docker compose down

  e2e-tests:
    name: E2E tests (${{ matrix.shardIndex }}/${{ matrix.shardTotal }})
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        shardIndex: [1, 2]
        shardTotal: [2]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Setup Playwright
        uses: ./.github/actions/setup-playwright

      - name: Start database and firebase emulators
        run: docker compose -f compose.yml -f ./docker/compose-ci.yml up -d

      - name: Wait for database start...
        run: ./docker/wait-for-db.sh

      - name: Build the app
        run: npm run build

      - name: Run e2e tests
        run: npm run test:e2e -- --shard=${{ matrix.shardIndex }}/${{ matrix.shardTotal }}

      - name: Stop database and firebase emulators
        if: always()
        run: docker compose down
