name: CI
on:
  pull_request:
  push:
    branches:
      - main
      - production

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'main') && !contains(github.ref, 'production') }}

jobs:
  static-tests:
    name: Static tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Linting
        run: npm run lint:ci

      - name: Typescript checking
        run: npm run tsc

  integration-tests:
    name: Integration tests
    runs-on: ubuntu-latest
    needs: static-tests

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Start database and firebase emulators
        run: docker compose up -d --build

      - name: Wait for database start...
        run: ./docker/wait-for-db.sh

      - name: Execute tests
        run: npm test

      - name: Stop database and firebase emulators
        if: always()
        run: docker compose down

  e2e-tests:
    name: E2E tests
    runs-on: ubuntu-latest
    needs: static-tests
    timeout-minutes: 20

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Start database and firebase emulators
        run: docker compose up -d --build

      - name: Wait for database start...
        run: ./docker/wait-for-db.sh

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          install-command: npm ci --legacy-peer-deps
          build: npx dotenv -e .env.e2e -- npm run build
          start: npx dotenv -e .env.e2e -- npm start
          command-prefix: 'dotenv -e .env.e2e --'
          wait-on: 'http://127.0.0.1:3000'

      - name: Stop database and firebase emulators
        if: always()
        run: docker compose down
